body{
    text-align: center;
    margin: 5%;
}

header{
    color:red;
    position: relative;

}

.container{
    align-content: center;
    display: justify;
}

#create{
    justify-content: space-between;
    align-content: center;
}

.task{
    border: 2px solid black;
    margin: 0 10%;
    padding: 5px;
    display: flex;
     height: auto;
     width: auto;
     position: relative;
     background-image: url('/client/images/notepad.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     padding: 5%;

}

.display{
    display: block;
    padding: 0 10% 0 5%;
    text-align: justify;
}

#edit{
    flex-direction: column;
    padding: 0 10% 0 5%;
    border-left: dashed 5px lightcoral;
}

/* #taskArchiveDiv{
    height: auto;
    width: auto;
    position: relative;
    background-image: url('/client/images/notepad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
} */

button{
      display: inline-block;
      padding: 0.3em 1.2em;
      margin: 0 0.1em 0.1em 0;
      border: 0.16em solid rgba(255, 255, 255, 0);
      border-radius: 1em;
      box-sizing: border-box;
      text-decoration: none;
      font-weight: 300;
      color: white;
      text-align: center;
      transition: all 0.2s;
      background-color: red;
}

button:hover{
    color: red;
    background-color: white;
    border-color: red;

}