body{
    text-align: center;
    margin: 5%;
}

header{
    color:red;
    position: relative;

}

.container{
    align-content: center;
    display: justify;
}

#create{
    justify-content: space-between;
    align-content: center;
}

.task{
    border: 2px solid black;
    margin: 0 10%;
    padding: 5px;

}

#taskArchiveDiv{
    height: auto;
    width: auto;
    position: relative;
    background-image: url('/client/images/notepad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* vertical-align: center; */
    padding: 5%;
}
