<div id="taskArchiveDiv">
    <h2>Completed Tasks Archive</h2>
    <br>
</div>

<footer>
Created by 
<a href='#' target=blank>Jesica Ababon</a>
 © 2018
</footer>


</body>
<!-- <script>
function removeDiv(){const elem = document.getElementsByClassName('task'); elem.parentNode.removeChild(elem); return false;};
//source: https://stackoverflow.com/questions/5933157/how-to-remove-an-html-element-using-javascript
</script> -->
</html>