<h5>Edit Task</h5>
    <div id='edit'>
        <form class="editForm" method="POST" action="/tasks/<%= task.task_id %>?_method=PUT">
<input type="text" name="subject" id="createSubject" placeholder="Subject">
<br>
<input type="text" name="content" id="createContent" placeholder="Content">
<br>
<input type="date" name="due_date" id="dueDate">
<br>
    <button type="submit">UPDATE</button>
</form>

</div>
