    <div class="container">
        <div id='create'>
            <form action="/tasks" method="POST">
                <label>SUBJECT</label>
                <input type="text" name="subject" id="createSubject" placeholder="Subject">
                <label>CONTENT</label>
                <input type="text" name="content" id="createContent" placeholder="Content">
                <label>DUE DATE</label>
                <input type="date" name="due_date" id="dueDate">
                <button type="submit" id="createButton">Create Task</button>
            </form>
        </div>
        <br>
    </div>