<% include ../partials/header.ejs %>
<% include ../tasks/new.ejs %>

    <h2>TO DO LIST</h2>


<div class="task">
        <b><%= task.subject %>:</b>
        <%= task.content %>
        <br>
        <b>DUE:</b>
        <%= task.due_date %>

    </div>
    <br>


<% include ../partials/footer.ejs %>
